/* FONTS */
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-semi-bold.eot');
    src: url('../fonts/gilroy-semi-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy-semi-bold.woff2') format('woff2'),
        url('../fonts/gilroy-semi-bold.woff') format('woff'),
        url('../fonts/gilroy-semi-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-medium.eot');
    src: url('../fonts/gilroy-medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy-medium.woff2') format('woff2'),
        url('../fonts/gilroy-medium.woff') format('woff'),
        url('../fonts/gilroy-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-light.eot');
    src: url('../fonts/gilroy-light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy-light.woff2') format('woff2'),
        url('../fonts/gilroy-light.woff') format('woff'),
        url('../fonts/gilroy-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-bold.eot');
    src: url('../fonts/gilroy-bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy-bold.woff2') format('woff2'),
        url('../fonts/gilroy-bold.woff') format('woff'),
        url('../fonts/gilroy-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'gilroy';
    src: url('../fonts/gilroy-regular.eot');
    src: url('../fonts/gilroy-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gilroy-regular.woff2') format('woff2'),
        url('../fonts/gilroy-regular.woff') format('woff'),
        url('../fonts/gilroy-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* DEFAULTS */
body, ul, li, ol, form, h1, h2, h3, h4, h5, h6, div, span, p { padding:0; margin:0; border:0; -webkit-text-size-adjust:none; -moz-text-size-adjust:none; text-size-adjust:none;}
article, aside, dialog ,figcaption, figure, footer, header, hgroup, main, nav, section { display:block;}
input, textarea { -webkit-appearance:none; -ms-appearance:none; appearance:none; -moz-appearance:none; -o-appearance:none; border-radius:0;}
label { margin: 0; padding: 0;}
* { outline:none !important;}
strong, b { font-weight:normal;}
ul { list-style-type:none;}
body { font:normal 18px/28px 'gilroy'; font-weight: normal; color:var(--default); background: #ffffff;}
body *  { box-sizing:border-box; outline:0; transition: all 400ms ease-in-out;}
a { text-decoration:none !important; color:var(--violet); outline:none; transition: all 400ms ease-in-out;}
img { border:none;}
h1,h2,h3 { font-family: "gilroy" !important; color: var(--default)!important;}
h1 { font: 600 60px/60px "gilroy" !important; color: var(--blanc) !important;}
h2 { font: 600 50px/50px 'gilroy' !important;}
h3 { font: 600 30px/30px 'gilroy' !important; margin-bottom: 18px !important;}
h4 { font: 600 22px/30px 'gilroy' !important;}
p { margin-bottom: 15px; font-weight: normal; color: var(--default);}
*, ::before, ::after { box-sizing: border-box; transition: all ease-in-out 400ms;}
.container { max-width: 1264px !important; width: 100% !important; padding: 0 40px !important;}
.btn { height: 42px; padding: 0 23px; border-radius: 30px; border: 1px var(--violet) solid; font:normal 18px/40px "gilroy"; color: var(--violet);}
.vh { height: 100vh;}
:root {
	--default: #252755;
	--blanc: #ffffff;
    --violet: #7041c6;
    --violet-form: #d4c6ee;
    --violet-blanc: #c4c5ec;
    --gris: #f7f7fc;
}

/* HEADER */
header { overflow: hidden;}
header.fixed .logo img:last-of-type, header.fixed .nav .nav-top { display: none !important; opacity: 0 !important; transition: all 400ms ease-in-out;}
.fixed-top { top: 8%; padding: 0 !important;}
.navbar>.container-fluid { max-width: 1264px; width: 100%; padding: 0 40px;}
.logo img:last-of-type, .logo-foot img:last-of-type { margin: 11px 0 0 14px;}
.nav { position: relative;}

/* MENU BURGER */
.burger { background: var(--default); position: fixed; width: 100%; height: 100%; min-height: 100vh; z-index: 9999; padding: 75px 40px 50px; text-align: center; transform: translateX(100%); opacity: 0; transition: all 600ms ease-in-out; transition-delay: .5s; top: 0; left: 0;}
header.active .logo img:last-of-type { display: block !important; opacity: 1 !important;}
.menu-bar { display: none; background: transparent; width: 50px; height: 32px; border-radius: 50%; position: absolute; right: 0; top: -16px; padding-right: 0; cursor:pointer; z-index: 99999; align-items: center;}
.menu-bar.show { display: block !important;}
.menu-bar div{ position: absolute; width: 50px; height: 2px; right: 0; top: 50%; left: 0; margin: 0 auto; border-radius: 2px; background: var(--violet);}
.menu-bar div:first-child { margin-top: 0;}
.menu-bar div:nth-child(2){ margin-top: -14px;}
.menu-bar div:nth-child(3){ margin-top: 14px;}
header.active .burger { transform: translateX(0) !important; opacity: 1; transition: all 600ms ease-in-out;}
.header.active .menu-bar div:nth-child(1) { transform: rotate(-45deg); transition: all ease-in-out .5s; margin-top: 0; background:var(--violet);}
.header.active .menu-bar div:nth-child(2) { transform: rotate(45deg); transition: all ease-in-out .5s; margin-top: 0; background:var(--violet);}
.header.active .menu-bar div:nth-child(3) { width: 0; transition: all ease-in-out .5s;}
.burger .container { height: 100%; position: relative;}
.burger .logo { position: absolute; top: 0; left: 40px;}
.burger .rs { position: absolute; right: 40px; bottom: 15px;}
.nav-burger { max-width: 1264px; width: 100%; padding: 0 40px; margin: 0 auto; position: absolute; left: 0; right: 0; bottom: 60px; display: flex; justify-content: flex-start; align-items: flex-start;}
.nav-burger>ul { margin-right: 130px; text-align: left;}
.nav-burger>ul:last-of-type { margin-right: 0;}
.nav-burger>ul>li {}
.nav-burger>ul>li a { font: 600 60px/90px "gilroy" !important; color: var(--blanc); position: relative;}
.nav-burger>ul>li a:after { content: ''; background: var(--blanc); position: absolute; left: 0; right: 0; bottom: 0; width: 0; height: 3px;}
.nav-burger>ul>li.current_page_item a:after { width: 100%;}

.nav-top>ul>li { margin-left: 52px;}
.nav-top>ul>li:first-child { margin-left: 0;}
.nav-top>ul>li a { display: block; position: relative; font: 500 17px/58px "gilroy" !important; color: var(--blanc);}
.nav-top>ul>li a:after { content: ''; background: var(--blanc); width: auto; height: 3px; position: absolute; left: 0; right: 0; bottom: -5px; opacity: 0;}
.nav-top>ul>li.current-menu-item a:after { bottom: 0; opacity: 1;}
.banner { display: flex; justify-content: flex-start; align-items: center; position: absolute; top: 0; z-index: 50;}
.slider img { height: 100vh; display: block; width: 100%; height: 100vh; object-fit: cover; object-position: initial;}
.textBanner { max-width: 1264px; width: 100%; padding: 0 98px; margin: 0 auto; position: absolute; top: 0; left: 0; right: 0;}
.textBanner>div { margin-bottom: -140px;}
.textBanner p { max-width: 395px; width: 100%; margin-top: 15px; font: 18px/28px "gilroy" !important; color: var(--blanc);}

/* MAIN */
.ast-container { display: block !important;}
main { overflow: hidden;}
#section1 { margin: 230px 0 0;}
.blocImg { max-width: 426px; width: 426px; position: relative; margin-bottom: -3%;}
.blocImg>div { border-radius: 35px; overflow: hidden;}
.blocImg img { object-fit: cover; object-position: center;}
.imgBig img { width: 426px; height: 426px;}
.imgSmall { position: absolute; top: -145px; right: -38px; z-index: 5; box-shadow: -20px 15px 20px -15px rgba(0,0,0,0.19); -webkit-box-shadow: -20px 15px 20px -15px rgba(0,0,0,0.19); -moz-box-shadow: -20px 15px 20px -15px rgba(0,0,0,0.19);}
.imgSmall img { width: 226px; height: 224px;}
.imgVerySmall { position: absolute; bottom: 65px; left: -80px; z-index: 5; box-shadow: -20px 15px 20px -15px rgba(0,0,0,0.19); -webkit-box-shadow: -20px 15px 20px -15px rgba(0,0,0,0.19); -moz-box-shadow: -20px 15px 20px -15px rgba(0,0,0,0.19);}
.imgVerySmall img { width: 154px; height: 154px;}
.blocText { max-width: calc(100% - 426px); padding: 0 20px 0 150px;}
.blocText strong { font-weight: bold !important;}
.blocTitre { margin-bottom: 38px;}
.blocTitre span { display: block; font-weight: 500 !important; margin-bottom: 25px;}
.blocText .btn { margin-top: 27px;}

#section2 { margin: 196px 0 210px;}
#section2 p { font: 50px/52px "gilroy";}
#section2 .row { margin-left: -60px; margin-right: -60px;}
.textExpertise { padding-left: 60px; padding-right: 60px;}
.textExpertise .expertise p { margin-bottom: 7px;}
.textExpertise p:last-of-type { font-size: 14px; color: var(--violet-blanc);}

#section3 { margin: 0 0 170px;}
.img-expertise { width: 154px;}
.img-expertise1 { position: absolute; bottom: 0; right: 140px;}
.img-expertise1 img { transform: rotate(13deg);}
.img-expertise2 { position: absolute; bottom: 0; right: 60px;}
.img-expertise2 img { transform: rotate(-17deg);}
.img-expertise3 { position: absolute; top: -200px; right: 0;}
.img-expertise3 img { transform: rotate(5deg);}
.img-expertise img { display: block; width: 154px; height: 154px; object-fit: cover; object-position: center; border-radius: 35px; overflow: hidden; box-shadow: -20px 15px 20px -15px rgba(0,0,0,0.19); -webkit-box-shadow: -20px 15px 20px -15px rgba(0,0,0,0.19); -moz-box-shadow: -20px 15px 20px -15px rgba(0,0,0,0.19);}

#section4 { background: var(--gris); padding-top: 140px; padding-bottom: 110px;}
.projets { margin-top: 55px; margin-left: -22px; margin-right: -22px;}
.projets>div { padding-left: 22px; padding-right: 22px;}
.card { background: transparent !important; border: none !important; border-radius: 0 !important; margin-bottom: 60px;}
.card-body { padding: 25px 35% 0 0; position: relative;}
.projets .card-title { color: var(--default);}
.btnAdd { position: absolute; top: 22px; right: 0; font: 300 34px/30px "gilroy" !important; color: var(--default);}
.card-body p { font: normal 14px/22px "gilroy";}
.card img { display: block; width: 100%; height: 456px; object-fit: cover;}

#section5 { padding-top: 160px; padding-bottom: 155px;}
.slide-partenaire { margin-top: 30px;}
.slide-partenaire>div { margin: 50px 0;}
#section5 p, #section4 .row>.col-lg-6>p { font-weight: 500 !important;}

#section6 { background: url(../images/banner-hello.jpg) center bottom no-repeat; background-size: cover; padding: 93px 0 205px;}
#section6 .blocTitre span { display: block; margin-bottom: 25px;}
.hello ul>li {margin-bottom: 25px;}
.hello ul>li:last-child {margin-bottom: 0;}
.hello ul>li>span { display: block; font: 600 18px/25px "gilroy";}
.hello ul>li>a { display: inline-block; font: 18px/25px "gilroy"; color: var(--default) !important; position: relative;}
.hello ul>li>a:after, .textModal a:after { content:''; background: var(--default); position: absolute; width: 100%; height: 1px; left: 0; bottom: 0;}

#section7 { background: var(--default); width: auto; margin: 0 -50px; padding: 40px 0; transform: rotate(-3deg); margin-top: -60px;}
marquee { vertical-align: middle;}
#section7 a { margin: 0 37px; font: 30px/30px "gilroy";}
#section7 a:nth-child(even) { font-weight: normal; color: #7041c6;}
#section7 a:nth-child(odd) { font-weight: 600; color: var(--violet);}

#section8 { padding: 150px 0;}
#section8 .blocTitre { margin-bottom: 72px;}
.form-control { height: 56px !important; margin-bottom: 20px; padding: 0 25px !important; font-size: 16px; font-weight: normal; line-height: 56px;  color: var(--violet) !important; border: 1px solid var(--violet-form) !important;  border-radius: 40px !important; background: #fff !important;}
.form-control:focus { color: var(--default) !important; border-color: var(--violet) !important; box-shadow: 0 0 0 0.2rem rgb(112 65 198 / 45%) !important;}
textarea.form-control { min-height: 285px; margin-bottom: 10px; padding-top: 15px !important; resize: none; line-height: 24px;}
.form-text { margin-top: 0; font: 10px/25px "gilroy"; color: var(--default) !important;}
.btn-envoi { background: transparent !important; border: none !important; padding: 0 !important; margin: 0 !important; font: 600 16px/25px "gilroy" !important; color: var(--default) !important;}
.form-control input::placeholder  { font: 16px/56px "gilroy"; font-weight: normal; color: #ceced5; opacity: 1;}
.form-control::-webkit-input-placeholder, .form-control::-webkit-input-placeholder, .form-control::-webkit-input-placeholder { font: 16px/56px "gilroy"; font-weight: normal; color: #ceced5; opacity: 1;}
.form-control::-moz-placeholder, .form-control::-moz-placeholder, .form-control::-moz-placeholder { font: 16px/56px "gilroy"; font-weight: normal; color: #ceced5; opacity: 1 !important;}
.form-control::-ms-input-placeholder, .form-control::-ms-input-placeholder, .form-control::-ms-input-placeholder { font: 16px/56px "gilroy"; font-weight: normal; color: #ceced5; opacity: 1;}
textarea::placeholder { line-height: 16px !important;}
.form-row { margin-right: -12px; margin-left: -12px;}
.form-row>.col, .form-row>[class*=col-] { padding-right: 12px; padding-left: 12px;}

/* MODAL */
#modal { max-width: 905px; width: 100%; margin: 0 auto; padding: 0 !important;}
.sousModal { background: var(--blanc); display: flex; justify-content: space-between; align-items: center;}
.textModal { width: calc(100% - 390px);}
.textModal>div { max-width: 355px; width: 100%; padding: 0; margin: 0 auto;}
.textModal span { font: 500 18px/30px "gilroy" !important;}
.textModal h2 { display: block; margin: 35px 0; font: 600 48px/48px "gilroy" !important;}
.textModal a { font-weight: 600 !important; color: var(--default); position: relative;}
.imgModal { width: 390px; overflow: hidden;}
.imgModal img { display: block; width: 100%; height: 470px; object-fit: cover; object-position: center;}
#modal .fancybox-close-small { background: var(--blanc); opacity: 1; transition: all 400ms;}

/* PAGE AGENCE */
.bannerText, .itemTemoin { font: normal 50px/50px "gilroy"; color: var(--default); text-align: center;}
.bannerText>div { max-width: 775px; width: 100%; margin: 40px auto 0;}
.page-template-agence .nav-top>ul>li a { color: var(--default) !important;}
.page-template-agence .nav-top>ul>li a:after { background: var(--default) !important;}

#section9 { background: var(--default); padding: 80px 0;}
.blocTextImg { margin: 230px 0;}
.blocImgText { margin: 290px 0 200px;}
.blocTextImg3 { margin-top: 195px;}
.blocTextImg .blocText { padding: 0 150px 0 0px;}
.blocTextImg1 .imgSmall { left: -100px;}
.blocTextImg1 .imgSmall img, .blocTextImg2 .imgSmall img { border-radius: 30px;}
.blocTextImg2 .imgSmall { left: -50px;}
.blocTextImg2 .imgVerySmall { left: inherit; right: -88px; bottom: 58px;}
.blocTextImg2 .blocText { padding: 0 0 0 170px;}
.blocTextImg3 .blocText { padding: 0 170px 0 0;}
.blocTextImg3 .imgVerySmall { left: -60px; bottom: -95px;}
#section9 p, #section9 .blocTitre span, #section9 .blocTitre h2 { color: var(--blanc) !important;}

#section10 { background: var(--gris); padding: 235px 0;}
.slideTemoin { padding: 0 11%;}
.slideTemoin div { transition: none;}
.autheur { margin-top: 65px; font: normal 18px/23px "gilroy"; color: #d1d2f9;}
.autheur strong { display: block; font-weight: 500 !important;}
.slick-arrow { width: 37px; height: 69px; margin-top: -5px; position: absolute; top: 25%; cursor: pointer; font-size: 0;}
.slick-prev { background: url(../images/arrow-prev.svg) center no-repeat; left: 0;}
.slick-next { background: url(../images/arrow-next.svg) center no-repeat; right: 0;}
.slick-arrow:focus { background-color: transparent !important; border-color: transparent !important;}

/* PAGE PROJETS */
.page-template-produit .textBanner, .page-template-detail-produit .textBanner, .page-template-contact .textBanner { align-items: flex-end !important;}
.page-template-produit .textBanner>div, .page-template-detail-produit .textBanner>div { margin-bottom: 85px !important;}
.page-template-contact .textBanner>div { margin-bottom: 95px !important;}
.projet { background: var(--blanc) !important; padding-top: 125px !important; padding-bottom: 125px !important;}

/* PAGE DETAIL PROJETS */
#section11 { margin: 90px 0 55px;}
#section11 .text { padding-left: 125px;}
#section12 img, #section14 img, #section15 img { display: block; width: 100%; height: auto;}
.left { padding-right: 27px;}
.right { padding-left: 27px;}
#section12, #section13 { margin-bottom: 60px;}
#section14 { margin-bottom: 65px;}
.navigation { margin-top: 115px; margin-bottom: 115px;}
.nav-detail { display: flex; align-items: center; color: #d1d2f9;}
#nav-prev:before { content:''; background: url("../images/arrow-prev.svg") center no-repeat; width: 37px; height: 69px; display: block; margin-right: 25px;}
#nav-next:after { content:''; background: url("../images/arrow-next.svg") center no-repeat; width: 37px; height: 69px; display: block;  margin-left: 25px;}

/* PAGE CONTACT */
.blocCoordonner { margin: 160px 0 225px !important;}
.map { width: 425px; height: 425px; position: relative;}
.map iframe { border-radius: 25px;}
.rsContact { display: block; width: 153px; height: 153px; border-radius: 25px; overflow: hidden; position: absolute; box-shadow: -20px 15px 20px -15px rgb(0 0 0 / 19%); -webkit-box-shadow: -20px 15px 20px -15px rgb(0 0 0 / 19%); -moz-box-shadow: -20px 15px 20px -15px rgba(0,0,0,0.19);}
.rsContact.linkedin { background: url(../images/deco-in.jpg) center no-repeat; left: -120px; top: 68px;}
.rsContact.linkedin:after { content:''; background: url(../images/icone-linkedin.svg) center no-repeat; background-size: cover; width: 69px; height: 66px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.rsContact.facebook { background: url(../images/deco-fb.jpg) center no-repeat; left: -54px; bottom: -75px;}
.rsContact.facebook:after { content:''; background: url(../images/icone-facebook.svg) center no-repeat; background-size: cover; width: 31px; height: 65px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.rsContact.instagram { background: url(../images/deco-insta.jpg) center no-repeat; right: -98px; bottom: -52px;}
.rsContact.instagram:after { content:''; background: url(../images/icone-instagram.svg) center no-repeat; background-size: cover; width: 81px; height: 81px; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto;}
.textCoor { margin-top: 45px; padding-left: 140px;}
.textCoor p { line-height: 25px; margin: 0;}
.textCoor a { display: block; margin-top: 5px; color: var(--default); font-weight: bold !important;}
.blocContact { background: var(--gris);}
.blocContact .form-control { border: 3px solid var(--violet-form) !important; background: var(--gris) !important;}

/* PAGE GREEN&CO */
.page-template-green-co .textBanner p { max-width: 450px;}
#section1.blocIntroGreen { margin: 310px 0 0;}
#section2.blocInterSlog { margin: 290px 0 305px;}
#section16 { margin: 100px 0 235px;}
#section16 .blocText { padding: 0 150px 0 20px;}
#section17 { padding: 165px 0 200px; background: #c4c5ec;}
#section17 .blocText { flex: 1; max-width: 450px; min-width: 450px; padding: 0; margin-left: 150px;}
#section17 .blocTitre { margin-bottom: 50px;}
#section17 .blocText p { line-height: 30px;}
#section17 .blocImg { flex: 1; min-width: 426px; margin: -10% 0 0 !important; padding: 0;}
#section17 .imgSmall { top: inherit; left: inherit; right: -43px; bottom: -125px;}
.blocText h3 { margin: 30px 0 5px !important;}

/* PAGE RECRUTEMENT */
.blocJob { overflow-x: hidden;}
.ui-accordion .ui-accordion-content { padding: 0 0 150px !important; margin-top: 0 !important;}
.ui-accordion .ui-accordion-header { margin: 0 !important; border-top: 2px solid #CFD6DE !important; padding: 55px 0 60px; font: 600 50px/50px "gilroy" !important;}
#accordion { border-bottom: 2px solid #e0e1fb !important;}
#accordion .ui-accordion-header:first-of-type { border-top: none !important;}
.ui-button.ui-state-active:hover { background: #fff !important; color: var(--violet) !important;}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { border-top-right-radius: 0 !important;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { border-bottom-right-radius: 0 !important;}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { border-bottom-left-radius: 0 !important;}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { border-top-left-radius: 0 !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { border: none !important; background: #fff !important; font-weight: normal;
  color: #002850;}
.ui-widget-content { border: none !important; background: var(--default) !important; color: var(--blanc); height: auto !important; position: relative; overflow: inherit !important;}
.ui-widget-content:before { content: ''; background: var(--default); width: 100%; position: absolute; top: 0; bottom: 0; left: -50%;}
.ui-widget-content:after { content: ''; background: var(--default); width: 100%; position: absolute; top: 0; bottom: 0; right: -50%;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active { background: #fff !important; border: none !important; font-weight: normal; color: #002850;}
.ui-icon { width: 43px; height: 43px; margin-right: 35px; text-indent: 0 !important; background-image: none !important; position: absolute; right: 0; top: 0; bottom: 0; margin: auto;}
.ui-icon:before { content: "+"; background: transparent; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: 0; font: 300 72px/30px "gilroy" !important; color: var(--violet);}
.ui-icon-triangle-1-e, .ui-icon-triangle-1-s { background-position: 0 !important;}
.sousAccordion { position: relative; z-index: 5;}
.introAccord, .concAccord { display: block; margin: 10px 0; font: normal 18px/28px "gilroy" !important;}
.introAccord { margin-bottom: 25px;}
.concAccord { margin-top: 25px;}
.accordTitre { padding: 110px 0; border-bottom: 1px solid var(--violet) !important;}
.ui-accordion-content h3 { min-width: 360px; font: 600 50px/50px "gilroy" !important; color: var(--blanc) !important;}
.sousAccord>div { flex: 1;}
.accordTitre .sousAccord { width: 100%;}
.accordTitre .sousAccord>div:last-of-type { flex: .6;}
.accordDetail { padding: 110px 0;}
.sousAccord h4 { margin: 55px 0 10px; font: 600 24px/30px "gilroy" !important; color: var(--blanc) !important;}
.sousAccord h4:first-of-type { margin-top: 0 !important;}
.sousAccord p, .sousAccord ul>li { font: normal 18px/30px "gilroy" !important; color: var(--blanc) !important;}
.link { display: flex; justify-content: space-between; align-items: center; position: relative;}
.link:before { content: ""; background: var(--violet); height: 1px; position: absolute; top: 0; right: 210px; bottom: 0; left: 240px; margin: auto;}
.link>span { display: inline-block; padding: 10px 10px 10px 0; color: var(--blanc); position: relative;
    z-index: 1;}
.link .btn { color: var(--violet); position: relative;
    z-index: 1;}

/* FOOTER */
footer { background: var(--default); padding: 80px 0 75px;}
.foot-top { margin-bottom: 25px; padding-bottom: 80px; position: relative;}
.foot-top:after { content: ''; border-bottom: 1.5px var(--blanc) solid; position: absolute; left: 15px; right: 15px; bottom: 0;}
.coor { margin-top: 15px;}
.coor, .coor a { color: var(--blanc); font: 18px/25px "gilroy";}
.coor a { margin-top: 5px; font-weight: 600;}
.rs a { display: block; width: 50px; height: 50px; border-radius: 50%; border: 1px var(--blanc) solid;}
.rs a:nth-child(2) { margin: 0 20px;}
.rs a img { display: block; max-width: 22px; max-height: 22px;}
.legales a, .droits span { font: 14px/24px "gilroy"; color: var(--blanc);}
.legales a { color: var(--blanc); margin-right: 8%;}
.legales a:last-of-type { margin-right: 0;}

/* ANIMATION */
.logo:hover, .projets a:hover img, .slide-partenaire a:hover, #section7 a:hover { opacity: .7;}
.nav-top>ul>li:hover a:after { bottom: 0; opacity: 1;}
.nav-burger>ul>li a:hover:after { width: 100%;}
.hello ul>li>a:hover:after, .textModal a:hover:after { width: 0;}
.coor a:hover, .btn-envoi:hover, .textModal a:hover, .ui-state-hover { color: var(--violet) !important;}
.rs a:hover { border-color: var(--violet); background-color: var(--violet);}
.btnAdd:hover { color: var(--violet); transform: rotate(360deg);}
.btn:hover { border-color: var(--violet); background-color: var(--violet); color: var(--blanc);}
.projets a:hover .card-title, .legales a:hover { color: var(--violet);}
.projets a:hover .btnAdd { color: var(--violet); transform: rotate(360deg);}
.slick-arrow:hover { background-color: transparent !important; border-color: transparent !important; opacity: .7;}
.textCoor a:hover { color: var(--violet);}
.rsContact:hover:after { opacity: .5;}
.ui-state-hover .ui-icon::before { color: var(--violet-form);}
#modal .fancybox-close-small:hover { background-color: var(--default);}
.fancybox-button:hover svg path { fill: var(--blanc) !important;}
.nav-detail:hover { color: var(--default);}
#nav-prev:hover:before { background: url(../images/arrow-prev-hov.svg) center no-repeat;}
#nav-next:hover:after { background: url(../images/arrow-next-hov.svg) center no-repeat;}

/* RESPONSIVE */
@media (max-height:780px) {
    .vh { height: auto !important;}
    header, .textBanner, .bannerText { height: 100vh !important;}
}
@media (max-width:1680px) {
    .textBanner { padding: 0 0 0 80px;}
    .slide-partenaire>div { margin: 50px 0;}
    .slide-partenaire img { display: block; width: auto; height: auto; max-width: 90%; max-height: 100px;  margin: 0 auto;}
}
@media (max-width:1380px) {
    .slide-partenaire>div { margin: 30px 0;}
    header, .textBanner, .bannerText { height: 100vh !important;}
    #section1 { margin: 100px 0;}
    #section2 { margin: 200px 0;}
    #section3 { margin: 200px 0 100px;}
    #section4, #section5 { padding-top: 100px;  padding-bottom: 100px;}
    #section6 { padding: 100px 0 200px;}
    #section8, #section6 { height: auto !important;}
    .blocImg { margin-bottom: -15%; margin-left: 0;}
    .imgSmall { right: -30px;}
    .imgVerySmall { bottom: -75px; left: 10%;}
    #section1.blocIntroGreen { margin: 200px 0 0;}
    #section2.blocInterSlog { margin: 200px 0 150px;}
    #section17 { padding: 125px 0;}
}
@media (max-width:1200px) {
    .fixed-top { top: 40px;}
    .burger { padding: 48px 40px 50px;}
    .burger>.container { padding: 0 !important;}
    .burger .fixed-top { top: 5%;}
    .burger .logo { justify-content: center !important; align-items: center !important; left: 0;}
    .burger { min-height: 100vh; display: flex; justify-content: flex-start; align-items: center;}
    .nav-burger { padding: 0; margin: 0 auto; position: relative; bottom: 0; display: flex; justify-content: center; align-items: center; flex-direction: column; text-align: center; height: 100vh;}
    .nav-burger>ul { margin-right: 0; text-align: center; width: 100%;}
    .nav-burger>ul>li a { font: 600 40px/75px "gilroy" !important;}
    .nav .nav-top { display: none !important; opacity: 0 !important;}
    .burger .rs { position: relative !important; width: 100%; right: 0; bottom: 0; left: 0; margin-top: 75px; justify-content: center !important; align-items: center !important;}
    .menu-bar { display: block !important;}
    header, .textBanner { height: 100vh !important;}
    .navbar>.container-fluid, .textBanner { padding: 0 40px; width: 100%;}
    #section1 { margin: 120px 0 50px;}
    .blocImg { margin-bottom: 0;}
    .imgBig img { width: 100%; height: auto;}
    .imgSmall { position: absolute; top: -115px; right: -10px;}
    .imgSmall img { width: 250px; height: 250px;}
    .imgVerySmall { bottom: -80px; left: 35px;}
    .imgVerySmall img { width: 175px; height: 175px;}
    .blocText { padding-left: 80px;}
    #section2 { margin: 100px 0;}
    #section3 .textExpertise { padding-left: 15px !important; padding-right: 15px !important;}
    #section4 { padding-top: 50px; padding-bottom: 50px;}
    .projets { margin-top: 50px; margin-left: -15px; margin-right: -15px;}
    .projets>div { padding-left: 15px; padding-right: 15px;}
    .card { margin-bottom: 75px;}
    .card-body { padding: 45px 0 0; text-align: center;}
    #section5 { padding-top: 75px; padding-bottom: 75px;}
    .slide-partenaire { margin-top: 50px;}
    .slide-partenaire div { margin: 0 !important; transition: none;}
    .slide-partenaire .slick-track { display: flex; align-items: center;}
    .slide-partenaire .slick-track .slick-slide { margin: 0 20px;}
    .slide-partenaire .col-lg-3 { -ms-flex: 100% !important; flex: 1 !important; max-width: 100% !important;}
    #section6 { padding: 50px 0;}
    #section7 { margin-top: -30px; padding: 25px 0;}
    #section8 { margin: 80px 0; padding: 0;}
    #section8 .blocTitre { margin-bottom: 50px;}
    .textModal { width: 60%;}
    .textModal>div { max-width: 575px; width: 100%; padding: 0 40px;}
    .imgModal { min-width: 40%; overflow: hidden;}
    #section9 { padding: 100px 0 30px;}
    .blocTextImg { margin: 100px 0;}
    .blocImgText { margin: 150px 0 100px;}
    .blocTextImg .blocText { padding: 0 115px 0 0px;}
    .blocTextImg2 .blocText { padding: 0 0 0 115px;}
    .blocTextImg2 .imgSmall { left: 15px;}
    .blocTextImg3 .blocText { padding: 0 85px 0 0;}
    #section10 { padding: 100px 0;}
    .projet { padding-top: 15px !important; padding-bottom: 5px !important;}
    #section11 .text { padding-left: 40px;}
    .navigation { margin-top: 50px; margin-bottom: 50px;}
    .blocContact { margin: 0 !important; padding: 90px 0 !important;}
    .blocCoordonner { margin: 90px 0 !important;}
    .blocCoordonner .row { flex-direction: column; align-items: center !important;}
    .textCoor { padding-left: 0; text-align: center; margin-top: 175px;}
    #section16 { margin: 100px 0 200px;}
    #section16 .blocText { padding: 0 50px 0 0;}
    .accordTitre .sousAccord>div:last-of-type { flex: 1;}

    footer { padding: 90px 0;}
    .foot-top { padding-bottom: 50px;}
}
@media (max-width: 992px) {
    header, .bannerText { height: auto !important;}
    .page-template-produit #content { margin-top: -10px;}
    .textBanner { height: 600px !important; padding: 20px !important; text-align: center;}
    .page-template-green-co .textBanner { padding: 100px 20px 20px !important;}
    .slider img { height: 100%; min-height: 600px;}
    .textBanner p { max-width: 80%; margin: 15px auto;}
    #section1.blocIntroGreen { margin: 80px 0;}
    #section1>.container, #section16>.container, #section17>.container { flex-direction: column-reverse !important;}
    .blocText { max-width: 100%; width: 100%; padding-left: 0; text-align: center;}
    .blocTitre { margin-bottom: 30px;}
    h2 { font: 600 45px/45px 'gilroy' !important;}
    h3 { font: 600 23px/30px 'gilroy' !important;}
    #section2 { margin: 100px 0 70px;}
    #section2 p { font: 40px/45px "gilroy";}
    #section5 .btn { display: none !important;}
    #section7 a { margin: 0 30px; font: 25px/35px "gilroy";}
    .blocImg { width: 100%; padding-right: 0; margin-top: 100px; margin-left: 0;}
    .imgSmall { position: absolute; top: -50px; right: -100px;}
    .imgVerySmall { bottom: -25px; left: -75px;}
    #section2 { margin: 75px 0 50px;}
    .textExpertise { margin: 20px 0; display: flex; justify-content: flex-start; align-items: flex-start;}
    .img-expertise { min-width: 154px; margin-right: 35px; position: relative; top: 0 !important; bottom: 0; right: 0; transform: none !important;}
    .img-expertise img { border-radius: 30px;}
    .card img { height: 375px;}
    #section3 { margin: 50px 0 15px;}
    .projets .card-title { padding: 0 40px;}
    .card { margin-bottom: 50px;}
    .card-body { padding: 30px 0 0;}
    .textModal h2 { margin: 25px 0; font: 600 50px/50px "gilroy" !important;}
    #section5 .btn { margin-top: 20px;}
    #section4 { padding-top: 40px; padding-bottom: 40px;}
    #section4 .btn { margin-top: 15px; margin-bottom: 40px;}

    #section9 { padding: 100px 0 90px;}
    .bannerText { padding: 200px 20px 150px;}
    .bannerText>div { margin-top: 0 !important;}
    .bannerText { font: normal 35px/40px "gilroy";}
    .blocTextImg, .blocImgText { flex-direction: column;}
    .blocTextImg { margin: 0 !important;}
    #section9 .blocText { padding: 0; max-width: 100%; text-align: center; order: 2;}
    #section9 .blocImg { margin: 0 0 50px; order: 1;}
    .blocTextImg1 .blocImg, .blocTextImg2 .blocImg, .blocTextImg3 .blocText { margin-top: 50px !important;}
    .blocTextImg3 { margin-bottom: 0 !important;}
    .blocTextImg2 .imgSmall { left: -50px;}
    #section10 { padding: 90px 0;}
    .slideTemoin { padding: 0 6%;}
    .itemTemoin { font: normal 30px/35px "gilroy";}
    .autheur { margin-top: 35px;}
    .slick-prev { left: -5%;}
    .slick-next { right: -5%;}
    #section11 { margin: 40px 0 50px;}
    .single-projet #section11 { margin: 75px 0 60px;}

    .page-template-produit .textBanner, .page-template-detail-produit .textBanner, .page-template-contact .textBanner { width: 100%; align-items: center !important; padding: 0 40px !important;}
    .page-template-contact .textBanner>div { margin-bottom: 0 !important;}
    .page-template-contact .textBanner { align-items: center !important; padding: 0 40px !important; text-align: left;}

    .page-template-green-co .textBanner>div { width: 100%; margin-bottom: 0;}
    #section2.blocInterSlog { margin: 100px 0;}
    #section16 { margin: 100px 0 90px;}
    #section16 .blocImg { margin-top: 25px; margin-bottom: 40px;}
    #section16 .blocText { padding: 0; margin-top: 65px;}
    #section17 { padding: 90px 0 230px;}
    #section17 .blocText { max-width: 100%; min-width: inherit; margin: 0;}
    #section17 .blocImg { flex: auto; min-width: inherit; margin: 50px auto 0 !important; padding: 0;}

    .accordTitre, .accordDetail { flex-direction: column;}
    .ui-accordion .ui-accordion-content { padding: 0 0 75px !important;}
    .ui-accordion-content h3 { min-width: 100%; margin-bottom: 35px !important}
    .ui-accordion-content h3 br { display: none;}
    .accordTitre { padding: 50px 0 35px;}
    .accordDetail { padding: 50px 0;}
    .ui-accordion .ui-accordion-header { padding: 15px 0 20px;}
}
@media (max-width: 767px) {
    .nav-burger { align-items: flex-start; height: auto;}
    h1 { font: 600 50px/50px "gilroy" !important;}
    .textBanner>div, .page-template-produit .textBanner>div, .page-template-detail-produit .textBanner { margin-bottom: 0;}
    .blocText .btn { margin-top: 20px;}

    #section1 { margin: 90px 0 125px;}
    #section1 .blocImg { margin-top: 175px;}
    #section1.blocIntroGreen .blocImg { margin-top: 140px;}
    .blocImg>div { border-radius: 30px;}
    .imgSmall { width: 40%; top: -70px; right: 30px;}
    .imgSmall img, .imgVerySmall img { width: 100%; height: auto;}
    .imgVerySmall { width: 25%; bottom: -45px; left: 25px;}

    #section2 { margin: 125px 0 50px;}
    #section3 { margin: 50px 0 80px;}
    #section4 { padding: 90px 0 60px;}
    #section4 .btn { display: none !important;}
    #section5 { padding: 90px 0;}
    .slide-partenaire { margin-top: 30px;}
    .form-control { height: 50px; margin-bottom: 20px; padding: 0 20px; font-size: 18px; line-height: 50px;}
    textarea.form-control { min-height: 300px; padding-top: 25px; line-height: 24px;}
    .btn { height: 45px; padding: 0 20px; font: normal 20px/42px "gilroy";}
    .textExpertise { margin: 15px 0 50px; justify-content: center; align-items: center; flex-direction: column; text-align: center;}
    .textExpertise:last-of-type { margin-bottom: 0 !important;}
    .img-expertise { margin-right: 0; margin-bottom: 25px;}
    .img-expertise img { display: block;}
    .burger { min-height: 650px;}
    .nav-burger>ul>li a { font: 30px/45px "gilroy" !important;}
    .form-row { margin-right: -5px !important; margin-left: -5px !important;}
    .form-row>.col, .form-row>[class*=col-] { padding-right: 5px !important; padding-left: 5px !important;}
    .btnAdd { top: 25px;}
    .card img { display: block; width: 100%; height: auto;}
    .form-control input::placeholder  { font: 18px/50px "gilroy";}
    .form-control::-webkit-input-placeholder, .form-control::-webkit-input-placeholder, .form-control::-webkit-input-placeholder { font: 18px/50px "gilroy";}
    .form-control::-moz-placeholder, .form-control::-moz-placeholder, .form-control::-moz-placeholder { font: 18px/50px "gilroy";}
    .form-control::-ms-input-placeholder, .form-control::-ms-input-placeholder, .form-control::-ms-input-placeholder { font: 18px/50px "gilroy";}
    .sousModal { flex-direction: column-reverse;}
    .textModal { width: 100%; padding: 40px 0;}
    .imgModal { min-width: 100%;}
    .imgModal img { height: 450px;}
    #section6 .blocTitre span { margin-bottom: 30px;}
    #section9 { padding: 135px 0 90px;}
    #section8 { padding: 0; margin: 90px 0;}
    .blocTextImg3 .imgVerySmall { left: -50px; bottom: -50px;}
    .projets { margin-top: 15px; margin-left: 0px; margin-right:0; padding-top: 0 !important; padding-bottom: 0 !important; flex-direction: column;}
    .projets>div { padding-left: 0; padding-right: 0; width: 100%;}
    .slide-partenaire img { max-width: 85%;}
    #section11 .text { padding: 0 15px; margin-top: 50px; text-align: center;}
    #section12, #section13, #section14 { margin-bottom: 30px;}
    .left { padding-right: 15px;}
    .right { padding-left: 15px;}
    .navigation { margin-top: 50px; margin-bottom: 50px;}
    .rsContact.linkedin { left: -50px; top: 50px;}
    .rsContact.instagram { right: -50px; bottom: -50px;}

    .rsContact { width: 75px; height: 75px; border-radius: 15px;}
    .rsContact.instagram:after { width: auto !important; height: auto !important; background-size: auto !important;}
    .rsContact.facebook { left: -50px; bottom: -50px;}
    .rsContact.instagram { right: -50px; bottom: -20px;}
    .rsContact:after { background-size: auto !important;}

    .ui-accordion .ui-accordion-header, .ui-accordion-content h3 { font: 600 35px/35px "gilroy" !important;}
    .introAccord, .concAccord { margin: 5px 0;}
    .introAccord { margin-bottom: 10px;}
    .concAccord { margin-top: 10px;}
    .sousAccord h4 { font: 600 20px/20px "gilroy" !important;}
    .accordTitre .sousAccord { flex-direction: column;}

    #section1 .blocIntroGreen .blocImg { margin-top: 150px;}
    #section2.blocInterSlog { margin: 120px 0 135px;}

    /* footer */
    .legales { flex-direction: column !important; margin-bottom: 15px;}
    .legales a { margin-right: 0;}
    .foot-top { padding-bottom: 50px;}
    .lgo, .coor { margin-bottom: 25px;}
}
@media (max-width: 767px) {
    .right { margin-top: 30px;}
}
@media (max-height: 680px) {
    .burger .rs { margin-top: 30px;}
}
@media (max-width:600px) {
    .textBanner { padding: 135px 20px 20px !important;}
    .textBanner p { max-width: 100%;}
    .burger { min-height: 100vh; padding: 48px 20px 50px;}
    .burger .rs { bottom: 0;}
    .nav-burger>ul>li a { font: 30px/45px "gilroy" !important;}
    .menu-bar { top: -10px;}
    h1 { font: 600 40px/40px "gilroy" !important;}
    h2 { font: 600 35px/35px 'gilroy' !important;}
    .slider img { height: 100%; min-height: 570px;}
    .navbar>.container-fluid, .textBanner { padding: 0 20px;}
    .container { padding: 0 20px !important;}
    .textBanner p { font: 20px/30px "gilroy" !important;}
    .blocImg { margin-top: 115px;}
    .blocImg>div { border-radius: 15px;}
    #section2 .row { margin-left: -15px; margin-right: -15px;}
    #section2 p>br { display: none;}
    #section2 p { font: 30px/30px "gilroy";}
    #section3 .textExpertise:last-of-type { margin-bottom: 0 !important;}
    .logo img:last-of-type, .burger .logo img:last-of-type, header.active .logo img:last-of-type { display: none !important;}
    .btnAdd { top: 15px;}
    .card { margin-bottom: 25px;}
    .card-body { padding: 20px 0 0;}
    #section8 .blocTitre { margin-bottom: 30px;}
    .droits { text-align: center;}
    .textModal { padding: 20px 0;}
    .textModal>div { padding: 0 20px;}
    .textModal h2 { margin: 20px 0; font: 35px/35px "gilroy" !important;}
    .blocText { padding: 0;}

    .bannerText { padding: 75px 20px;}
    .bannerText, .itemTemoin { font: normal 25px/30px "gilroy";}
    .blocTextImg1 .imgSmall, .blocTextImg2 .imgSmall { left: 15px;}
    .blocTextImg2 .imgVerySmall { right: -10px; bottom: -15px;}
    .blocTextImg3 .imgVerySmall { left: 20px; bottom: -40px;}
    .slideTemoin { padding: 0;}
    .slick-arrow { margin-top: 0; top: inherit; bottom: -6px;}
    .slick-next { right: -20px;}
    .slick-prev { left: -20px;}
    .autheur { font: normal 16px/20px "gilroy";}
    .slick-arrow { width: 20px; height: 69px; background-size: contain !important;}
    .page-template-produit .textBanner, .page-template-detail-produit .textBanner { padding: 200px 20px 20px !important; justify-content: center !important;}
    .projet { padding-top: 0px !important; padding-bottom: 0px !important;}
    .navigation { justify-content: center !important;}
    .nav-detail { font-size: 0;}
    .page-template-contact .textBanner { height: 450px !important; padding: 0 20px !important;}
    .page-template-contact .slider img { min-height: 450px;}
    .map { width: 100%; height: auto; padding: 0 15px;}
    .map iframe { border-radius: 15px; width: 100%;}
    .blocRsContact { display: flex; justify-content: center; align-items: center; margin: 25px 0;}
    .rsContact { position: relative; top: 0 !important; bottom: 0 !important; left: 0 !important; right: 0 !important; margin: 0 5px;}
    .textCoor { margin-top: 50px;}

    .page-template-agence .bannerText { padding: 180px 20px 90px; font: normal 22px/30px "gilroy";}
    .page-template-green-co .textBanner { padding: 20px !important;}
    #section17 { padding: 90px 0 160px;}
    #section17 .blocImg { margin-top: 30px;}
    #section17 .imgSmall { right: 15px; bottom: -60px;}

    .ui-accordion .ui-accordion-header { padding: 25px 45px 30px 0;}
    .ui-accordion .ui-accordion-content { padding: 0 0 75px !important;}
    .link { flex-direction: column;}
    .link:before { display: none;}
    .link .btn { margin-top: 10px;}
    .link>span { background-color: transparent;}

    .foot-top { padding-bottom: 30px;}
    .legales a, .droits span { text-align: center; font: 16px/25px "gilroy";}
    .coor, .coor a { font: 20px/30px "gilroy";}
}
@media (max-width:560px) {
    .hello { text-align: center;}
}
@media (max-width: 480px) {
    h1 { font: 600 31px/35px "gilroy" !important;}
    .ui-accordion .ui-accordion-header, .ui-accordion-content h3 { font: 600 25px/25px "gilroy" !important;}
    .page-template-contact h1 { max-width: 205px;}
    .page-template-contact .slider img { object-position: 48% 50%;}
}